code, pre, samp, kbd {
  font-size: 0.9em;
}
h1, h2, h3, h4, h5, h6, div {
  color: white!important;
}
.white {
  color: white;
}
.black {
  color: black;
}
.link {
  text-decoration: underline;
}
.code{
	font-size: 20px!important;
}
.note-white {
  background: white;
  padding: 25px;
}
.note-white object, .note-white img {
  width: 100%;
}
.note-white text {
  color: black;
}
